/*=============================================*/

.main-wrapper {
    max-width: 1200px;
    margin: 0 auto;

    font-size: 14px;
}

.main-wrapper p {
    margin-top: 2rem;
}

.main-title {
    font-size: 28px;
    font-weight: bold;

    text-align: center;
    text-transform: uppercase;

    margin-top: 2.8rem;
}

.main-semititle {
    font-weight: bold;
    margin-top: 2rem;
}

.thanks {
    text-align: end;
    margin-top: 2rem;
}
