.db-link {
    position: relative;
    text-align: center;
    text-decoration: none;
    color: black;
}

.db-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: gold;

    transition: width 300ms ease-in-out;
}

.db-link:hover::after {
    width: 100%;
}
