/* header footer */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.flex-container {
    display: flex;
    gap: 2rem;
}

.header-wrapper {
    padding: 25px 25px;
    background-color: black;
    color: white;
}

.header-content {
    flex-grow: 1;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-content h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    text-transform: uppercase;
}

.header-content p {
    font-size: 11px;
    color: #d9d9d6;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

.nav-menu > a {
    position: relative;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: white;
    opacity: 0.7;

    transition: opacity 300ms ease;
}

.nav-menu > a:hover {
    opacity: 1;
}

.nav-menu > a::after {
    content: '';
    position: absolute;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    height: 1px;

    transition: width 300ms ease-in;
}

.nav-menu > a:hover::after {
    width: 100%;
}

.logo {
    width: 100%;
    object-fit: contain;
}

.flex-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    text-align: center;
}

.sub-menu > div {
    cursor: pointer;
}

.sub-menu a {
    text-decoration: none;
    color: white;

    transition: color 300ms ease;
}

.sub-menu a:hover {
    color: gold;
}

.footer-container {
    margin-top: 4rem;
    border-top: 1px solid #d9d9d6;
    padding: 5px 10px;
}

.footer-container p {
    margin: 0;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-info {
    display: flex;
}

.footer-phone {
    font-size: 14px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.4rem;

    margin-left: 3rem;
}

.footer-adress {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.4rem;

    margin-left: 3rem;
}

.footer-copy {
    border-top: 1px solid #d9d9d6;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 20px;
}

.footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.footer-social {
    display: flex;
    gap: 0.5rem;
}

.footer-links a {
    color: black;
    text-decoration: none;
    position: relative;

    font-size: 12px;
}

.footer-links a::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 1px;
    background-color: black;

    transition: width 300ms ease-in;
}

.footer-links a:hover::after {
    width: 100%;
}

.footer-second {
    font-size: 10px;
    font-weight: bold;
}

.footer-call {
    margin-right: 20px;
    animation: blink 2s infinite;
}

.footer-call-icon {
    width: 50px;
}

@keyframes blink {
    0% {
        transform: scale(1) rotate(0deg);
    }

    50% {
        transform: scale(1.2) rotate(10deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}

/* header&footer end */

/* button */

.button {
    text-transform: lowercase;
    padding: 10px 13px;
    cursor: pointer;
    width: 223px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    font-weight: bold;
    transition: all 200ms ease;
}

.button:hover {
    background-color: gold;
    color: black;
}

.sec-button-container {
    margin-top: 10px;
}

.reverse-button {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.reverse-button:hover {
    background-color: black;
    color: white;
}

/* button end */

h1 {
    font-size: 2rem !important;
    font-weight: bold !important;
    text-transform: capitalize !important;
}
